body {
  font-family: 'Shippori Antique B1';
}

#content {
  display: inline-block;
  background-color: rgb(228, 245, 255);
  box-shadow: 2px 2px 5px 0px #ccc;
}

#next {
  float: right;
  margin: 10px;
}
#etusivu {
  background-color: rgb(228, 245, 255);
  box-shadow: 2px 2px 5px 0px #ccc;
}

/* STYLES FOR QUIZ PAGES 
ADD YOUR OWN STYLING HERE */

/* Jenni Annala 
 English quiz styling begins */

#englanti {
  display: inline-block;
  background-color: rgb(226, 255, 238);
  box-shadow: 2px 2px 5px 0px #ccc;
  padding: 10px;
  text-align: center;
}
.hiding {
  display: none;
}

#forwardButton {
  float: right;
  margin: 10px;
}

#rightQuestions {
  margin: 10px;
}
#englanti > button {
  margin: 10px;
  border: none;
  background: none;
}
#checkingButton {
  margin: 10px;
}
#englanti > #next:hover {
  color: green;

}
#englanti > #forwardButton:hover {
  color: green;
}

/* English quiz styling ends */

/* Matikka quiz styling */

#matikka {
  background-color: rgb(228, 245, 255);
  box-shadow: 2px 2px 5px 0px #ccc;
  display: inline-block;
}

#next:hover {
  color: blue;
}

#taskTest {
  padding-bottom: 1em;
}

#imageMatikka {
  width: 20em;
  display: block;
  margin: auto;
}

/* Matikka quiz styling ends*/

#maantieto {
  background-color: #f9fcca;
  display: inline-block;
  box-shadow: 2px 2px 5px 0px #ccc;
}

#maantieto {
  text-align: center;
}

#maantieto > button{
  margin: 10px;
  border: none;
  background: none;
}

/* Historia */

#historia {
  background-color: rgb(255, 245, 228);
  box-shadow: 2px 2px 5px 0px #ccc;
  display: inline-block;
}

#historia > h3 {
  padding-top: 15px;
}

#historia > #visa {
  padding: 10px;
}

#historia > #next {
  padding: 2px;
  border: 1px solid transparent;
}

#historia > #next:hover {
  border: 1px solid black;
  background-color: white;
}

#visa > .vaihtoehto {
  background-color: white;
  padding: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 25px;
  margin-right: 25px;
}

#visa > .oikein {
  background-color: rgb(228, 255, 228);
  font-weight: 700;
}

#visa > .ei-oikein {
  background-color: rgb(255, 228, 228);
  font-style: italic;
}

#visa > .perustelu,
p {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

#visa > p {
  text-align: center;
}

#visa > .vaihtoehto:hover {
  background-color: rgb(228, 245, 255);
}

#visa > .progress {
  margin-bottom: 25px;
}

/* PAATTELYTEHTAVA STYLES */

#paattelytehtava {
  background-color: rgb(228, 245, 255);
  display: inline-block;
  box-shadow: 2px 2px 5px 0px #ccc;
}
.button {
  float: right;
  margin: 10px;
}

#text {
  max-width: 50em;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.hide-element {
  display: none !important;
}

#answers {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#answers input {
  margin-left: -1.2rem;
}
/* PAATTELYTEHTAVA STYLES */
